@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1f29;
        color: rgb(255, 244, 244);
    }

    .hd_login_form_wrap_inner {
        background: #1c2536;
        border: 1px solid #36435a;
    }

    .hd_login_form .hd_field_wrap input {
        background: #293344;
        border: 1px solid #535b68;
        color: #fff;
    }

    .hd_login_form .hd_field_wrap input:focus-visible {
        outline: 1px solid #1869c3;
    }
}