body {
    background: #eee;
}

.hd_login_form_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hd_login_header {
    padding: 20px 0px;
}

.hd_login_form_wrap_inner {
    background: #f6f6f6;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hd_login_form .hd_field_wrap {
    margin: 0px 0px 20px 0px;
}

.hd_login_form .hd_field_wrap input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 20px;
    border-radius: 4px;
}

.hd_login_form .hd_field_wrap input:focus-visible {
    outline: 1px solid #9acaff;
}

.hd_show_hide_pass svg {
    position: absolute;
    width: 24px;
}

.hd_show_hide_pass {
    width: 44px;
    height: 38px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3e3e3;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
    border-left: 0px;
    cursor: pointer;
    transition: all 0.1s;
}

.hd_show_hide_pass:hover {
    background: #eee;
}

.hd_show_hide_pass:active {
    background: #ddd;
}

.hd_input_group {
    display: flex;
}

.hd_input_group input {
    border-right: 0px;
    border-radius: 4px 0px 0px 4px !important;
}

.hd_field_wrap input[type=submit],
.hd_field_wrap button[type=submit] {
    width: 100%;
}

.hd_dashboard_at_glance {
    display: grid;
    gap: 10px;
    grid-template-areas: 'banner banner'
        'content_l content_r';
}

.left_content {
    grid-area: content_l;
}

.right_content {
    grid-area: content_r;
}

.empty_glance_widget {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #bbb;
    margin: 10p;
    overflow: hidden;
}

.filled_glance_widget {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #bbb;
    overflow: hidden;
}

.hd_glance_recent_posts_wrap {
    width: 100%;
}

.hd_glance_recent_posts_wrap th.hd_th {
    border-radius: 0px !important;
}


.hack_dash_welcome_banner {
    background: linear-gradient(172deg, #19255c, #281032);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    grid-area: banner;
}


.hack_dash_welcome_banner p {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.4px;
}

.hd_btn {
    display: inline-block;
    background: #ddd;
    padding: 6px 16px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.hd_btn_primary {
    display: inline-block;
    background: #1e90ff;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: all 0.15s;
}

.hd_btn_primary:hover {
    background: #3b9eff;
    color: #fff;
}

.hd_btn_primary:active {
    background: #1873cb;
    color: #fff;
}

.hd_btn_primary_lined {
    display: inline-block;
    background: #e5f2ff;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid rgb(30 144 255);
    text-decoration: none;
    color: #1e90ff;
    font-size: 14px;
}

.hd_btn_primary_lined:hover {
    background: #c8e0f7;
}

.hd_btn_primary_lined:active {
    background: #aed5fb;
}

.hack_dash_control_header {
    background: #1a2144;
    position: fixed;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 6px 15px #00000014;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    color: #fff;
    font-size: 14px;
}

.hack_dash_control_header .menu_toggle_btn img {
    width: 25px;
    filter: invert(1);
}


.user_info_wrap .menu_toggle_btn {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.user_info_wrap .greetings {
    display: inline-block;
}

.hack_dash_control_panel {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 65px;
    left: 0px;
}

.hack_dash_control_panel .hack_dash_control_right_wrap .service_by_wrap {
    text-align: right;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: 28px;
    right: 20px;
}

.hack_dash_control_right_wrap {
    padding: 10px;
    width: 100%;
    height: 95%;
    position: relative;
}

.hack_dash_control_left_wrap {
    background: #171d3a;
    padding: 4px 0px;
}

.hack_dash_side_items ul {
    list-style: none;
    padding: 0px;
}

.hack_dash_side_items ul li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 4px;
    padding: 10px 10px 10px 0px;
    border-radius: 8px;
    border: 4px solid #171d3a;
    border-bottom: 0px;
    border-top: 0px;
}

.hack_dash_side_items ul li a:hover {
    background: rgba(255, 255, 255, 0.08);
}

.hack_dash_side_items ul li a:active {
    background: rgba(255, 255, 255, 0.1);
}

.hack_dash_side_items ul li a.active {
    background: dodgerblue;
}

.hack_dash_side_items ul li a span {
    padding: 0px 10px;
    display: inline-block;
    transform: translateY(-2px);
    margin-left: 2px;
}

.hack_dash_side_items ul li a span img {
    width: 18px;
    filter: invert(1);
}

.hack_dash_side_items {
    min-width: 50px;
    max-width: 200px;
    width: 200px;
}

.hack_dash_side_items.slim {
    width: 50px;
}

.hack_dash_side_items.slim span.menu_label {
    display: none;
}

.hd_add_post_modal,
.hd_add_post_modal_overlay,
.hd_add_post_modal_content_wrap {
    display: none;
}

.hd_add_post_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.hd_add_post_modal_overlay {
    background: rgb(0 0 0 / 66%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
}

.hd_add_post_modal_content_wrap {
    position: absolute;
    width: 400px;
    background: #eee;
    padding: 20px;
    border-radius: 4px;
    left: 0px;
    top: 10%;
    right: 0px;
    margin: auto;
}

.close_hd_modal {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hd_field {
    width: 100%;
    margin: 6px 0px;
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.hd_field:focus-visible {
    outline: 1px solid #7cbeff;
}


/**
 * ## MANAGE POSTS TABLE
 */
.hd_mang_posts_table_wrap {
    margin: 25px;
}

th.hd_th {
    padding: 14px 10px;
    background: #c9cddf;
}

thead.hd_table_head tr {
    background: #c9cddf;
}

th.hd_th:first-child {
    border-radius: 10px 0px 0px 10px;
    background: #c9cddf;
}

th.hd_th:last-child {
    border-radius: 0px 10px 10px 0px;
    background: #c9cddf;
}

.hd_table_body a {
    color: #237e8d;
    text-decoration: none;
}

.hd_posts_table_inner .hd_table_body .hd_tr:hover .hd_dash_tbl_remove_item {
    visibility: visible;
    opacity: 1;
}

td.hd_td {
    padding: 12px;
    font-size: 14px;
}

tr.hd_tr:nth-child(even) {
    background: #f3f5fb;
}

table.hd_posts_table {
    width: 100%;
}





.hd_dash_settings_wrap {
    display: flex;
}

.hd_dash_settings_sidebar {
    min-width: 200px;
}

.dash_set_sidebar_banner {
    margin: 20px 0px;
}

.hd_dash_settings_content {
    padding-top: 10px;
    padding-left: 10px;
}

.hd_dash_settings_sidebar ul {
    padding: 0px;
    list-style: none;
    padding-right: 14px;
}

.hd_dash_settings_sidebar {
    min-width: 200px;
    border-right: 1px solid #e1e1e1;
    height: 88vh;
}

.hd_dash_settings_sidebar ul li a {
    width: 100%;
    background: #eee;
    display: block;
    padding: 5px 14px;
    text-decoration: none;
    color: #333;
    margin-bottom: 2px;
    border-radius: 4px;
}

.hd_dash_settings_sidebar ul li.active a {
    background: #6ec371;
    color: #fff;
}

.hd_dash_settings_sidebar ul li:not(.hd_dash_settings_sidebar ul li.active) a:hover {
    background: #e3e3e3;
}


span.hd_dash_tbl_remove_item {
    width: 12px;
    display: inline-block;
    cursor: pointer;
    margin-left: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

span.hd_dash_tbl_remove_item img {
    width: 100%;
}

.hd_dash_user_item:hover .hd_dash_tbl_remove_item {
    visibility: visible;
    opacity: 1;
}

.hd_confirm_pop {
    position: fixed;
    z-index: 999;
    width: 380px;
    height: 140px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    left: 0;
    right: 0;
    margin: auto;
    top: -280px;
    box-shadow: 0px 10px 80px #00000036;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.hd_confirm_pop.active {
    top: 20px;
    opacity: 1;
    visibility: visible;
}

.hd_confirm_pop_inner {
    position: relative;
    height: 100%;
}

.hd_confirm_choices {
    display: flex;
    gap: 18px;
    margin-top: 18px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.hd_confirm_choices button {
    width: 100%;
}

button.hd_btn_secondary:hover {
    background: #6fcaff82;
}

button.hd_btn_secondary {
    display: inline-block;
    background: #d2e9ff;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid rgb(148 184 251);
    text-decoration: none;
    color: rgb(0 90 255);
    font-size: 14px;
    transition: all 0.15s;
}



/** EDIT POST START **/
.hd_post_edit_inner_wrap {
    display: flex;
    gap: 10px;
}

.hd_field_wrap {
    margin-bottom: 10px;
}

.hd_input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 4PX;
}

.post_edit_right_sidebar {
    min-width: 240px;
}

.post_edit_left_content {
    width: 100%;
}

.hd_input:focus-visible {
    outline: 2px solid #b7caf1;
}

.hd_post_edit_sidebar_block {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.hd_post_edit_sidebar_block .block_title {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.hd_post_edit_sidebar_block .block_content {
    padding: 10px;
    font-size: 14px;
}

.hd_notice_item {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.hd_notice_item:after {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.hd_notice_item.positive:after {
    background: #72c922;
}

.hd_notice_item.danger:after {
    background: #d66620;
}

.hd_notice_item.warning:after {
    background: #ffdb12;
}

.hd_notice_item .close_btn {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s;
}

.hd_notice_item .close_btn:hover {
    background: #eee;
}

/** EDIT POST START END **/


.hack_dash_side_items ul li {
    list-style: none;
    padding: 0px;
    position: relative;
}



li.hd_has_sub_nav a+ul.hd_sub_nav_wrap {
    display: none;
}

li.hd_has_sub_nav a.active+ul.hd_sub_nav_wrap {
    display: block;
    margin-bottom: 4px;
}

li.hd_has_sub_nav a.active+ul.hd_sub_nav_wrap li a {
    font-size: 12px;
    margin: 0px;
    padding: 8px 14px;
}

li.hd_has_sub_nav a+ul.hd_sub_nav_wrap li a {
    font-size: 12px;
    margin: 0px;
    padding: 8px 14px;
    /* border-radius: 0px; */
    background: transparent;
}

li.hd_has_sub_nav a:not(.active)+ul.hd_sub_nav_wrap li a:hover {
    background: #6ec371;
}

li.hd_has_sub_nav a.active+ul.hd_sub_nav_wrap li a.active {
    background: #6ec371;
}


.hack_dash_side_items li.hd_has_sub_nav:hover ul.hd_sub_nav_wrap:not(.active) {
    display: block !important;
    position: absolute;
    left: 200px;
    top: 0px;
    background: #171d3a;
    width: 150px;
    border-radius: 0px 8px 8px 0px;
    padding: 10px 5px 10px 0px;
}

.tox.tox-tinymce.tox-tinymce--toolbar-sticky-off {
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.tox-promotion,
.tox-statusbar__branding {
    display: none;
}